<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy"
          content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">

    <title>Onsen UI YouTube</title>

    <script src="./lib/angular/angular-1.5.8.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/controllers.js"></script>

    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body ng-app="myApp" ng-controller="VideosController">

<button id="myBtn" ng-click="document.getElementById('myModal').modal.style.display='block';launch(video_info)">Open Modal</button><br/>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Modal Header</h2>
        </div>
        <div class="modal-body" ng-click="youtube.player.stopVideo(); modal.hide();">
            <div id="player">
                <div id="placeholder" style="width: 100%"></div>
            </div>
        </div>
        <div class="content"></div>
        <div class="background" style="background-color: transparent"></div>
    </div>
</div>

</body>
</html>
